/* -------- --------- --------- Root properties */
:root {
  --main-color: rgb(127, 255, 163);
  --main-color-hover: rgb(118, 234, 151);
  --base-transition: 0.1s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 60px;
}

button {
  padding: 6px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--main-color);
  transition: var(--base-transition);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:hover {
  background-color: var(--main-color-hover);
  transition: var(--base-transition);
}

button:active {
  background-color: var(--main-color);
}

/* -------- --------- --------- Header */
.wrapper {
  position: relative;
}

header {
  height: 150px;
  top: 0;
  width: 100%;
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  backdrop-filter: blur(6px);
}

#bg {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 150px;
  background-color: black;
  opacity: 0.85;
}

#header-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  cursor: pointer;
  user-select: none;
  width: 275px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  text-align: center;
}

nav {
  margin-bottom: 15px;
}

nav a {
  user-select: none;
  font-size: 35px;
  margin-left: 15px;
  text-decoration: none;
  color: white;
}
nav a:nth-child(1) {
  margin-left: 0;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

nav a:active {
  color: rgba(255, 255, 255, 0.6);
}

.navItem {
  cursor: pointer;
}
.navItem.active {
  color: var(--main-color);
}

#loggedin {
  color: white;
  font-size: 22px;
}

#header-head {
  margin-top: 20px;
}

@media (max-width: 1000px) {
  #bg,
  header {
    height: 100px;
  }

  header h1 {
    font-size: 25px;
    width: 175px;
  }

  #header-head {
    margin-top: 10px;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    font-size: 25px;
    margin-left: 8px;
  }

  #loggedin {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header h1 {
    font-size: 17px;
    width: 125px;
  }

  nav {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  nav a {
    font-size: 20px;
    margin-left: 15px;
  }

  #loggedin {
    position: relative;
    font-size: 14px;
  }
}

/* -------- --------- --------- Single Post (and one dashboard styling) */
#homepage-posts,
#dashboard-posts {
  margin: 0 20px;
}

#single-post {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 10px;
  width: 70%;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}

#dashboard-posts #single-post {
  width: 70%;
}

#post-header {
  background-color: var(--main-color);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s all ease-in-out;
}

#homepage-posts #single-post:hover {
  opacity: 1;
  transform: scale(1.007);
  box-shadow: 8px 8px 15px 2.5px rgba(0, 0, 0, 0.15);
  transition: var(--base-transition);
}

#homepage-posts #single-post:active {
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition: var(--base-transition);
}

#chat-icon-wrapper {
  position: absolute;
  color: black;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 10px;
}
#chat-icon {
  margin-right: 5px;
  width: 20px;
}
#post-title,
#post-date {
  color: black;
  margin: 0 15px;
}

#post-title {
  font-size: 18px;
}
#post-date {
  font-size: 14px;
}

#post-body {
  overflow: scroll;
  padding: 15px 15px;
  padding-right: 55px;
  height: 120px;
  font-size: 18px;
}

#homepage-posts #post-body {
  height: 100px;
  font-size: 16px;
  color: black;
}

@media (max-width: 1000px) {
  #dashboard-posts #single-post {
    width: 90%;
  }

  #post-title {
    font-size: 16px;
  }

  #post-header {
    height: 75px;
  }

  #homepage-posts #post-body {
    height: 130px;
  }

  #single-post {
    width: 90%;
  }
}

@media (max-width: 670px) {
  #post-header {
    height: 110px;
  }
  #post-title {
    font-size: 15px;
  }

  #post-title,
  #post-date {
    margin: 4px 15px;
  }

  #post-date {
    font-size: 13px;
  }

  #homepage-posts #post-body {
    height: 200px;
  }

  #post-body {
    overflow-wrap: break-word;
    height: 180px;
    padding-right: 25px;
    font-size: 15px;
  }

  #single-post {
    width: 95%;
  }
}

/* ----------------- Single post */
#page-singlepost {
  margin: 0 20px;
}

#comment-section {
  width: 70%;
  margin: 0 8px;
}

#single-comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 145px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.users-comment {
  background-color: rgba(118, 234, 151, 0.2) !important;
}

.edit-comment-input {
  left: 90px;
  margin-left: 0px;
  top: 10px;
  position: absolute;
  width: 80%;
  height: 96px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: transparent;
  resize: none;
  font-family: inherit;
}

.confirm-comment {
  display: none;
  padding: 3px 24px;
  position: relative;
  left: 78px;
  bottom: -3px;
}

#new-comment-status {
  color: red;
  display: none;
  font-size: 15px;
  z-index: 2;
  position: absolute;
  right: 479px;
  width: 310px;
  left: 90px;
  bottom: 40px;
}
#comment-wrapper {
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

#post-user {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#comment {
  font-size: 16px;
  width: 510px;
  margin-left: 10px;
}

#user {
  font-weight: 700;
  margin-right: 10px;
}

#comment-control {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#comment-control {
  display: flex;
}

.delete-comment {
  margin-left: 5px;
}

#comment-date {
  font-size: 15px;
  position: absolute;
  right: 13px;
  bottom: 10px;
}
#comment-section-divider {
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 25px;
  height: 1px;
  opacity: 0.2;
  width: 69.9%;
  background-color: black;
}

#comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

/* The textarea element */
#comment-field {
  width: 40%;
  resize: none;
  height: 100px;
  font-family: inherit;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#comment-status {
  width: 60%;
  font-family: inherit;
  font-weight: 400;
  margin-top: 8px;
  font-size: 14px;
}

@media (max-width: 1000px) {
  #comment-section {
    width: 85%;
  }

  #comment {
    font-size: 16px;
    width: 90%;
    margin-left: 10px;
  }

  #comment-section-divider {
    width: 85%;
  }

  #comment-field {
    width: 70%;
  }

  .edit-comment-input {
    left: 90px;
    margin-left: 0px;
    top: 12px;
    position: absolute;
    width: 80%;
    height: 96px;
  }

  #single-comment {
    height: 150px;
  }
}

@media (max-width: 670px) {
  #comment-section {
    width: 95%;
  }
  #comment {
    font-size: 16px;
    width: 85%;
    margin-left: 2px;
    margin-left: 2px;
  }

  #comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 10px;
  }

  #single-comment {
    height: 225px;
  }

  #user {
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
  }

  #comment-status {
    width: 90%;
  }

  #comment-field {
    width: 90%;
    font-size: 18px;
  }

  #comment-section-divider {
    width: 95%;
  }

  #comment-control {
    display: flex;
    bottom: 10px;
    left: 10px;
  }

  .confirm-comment,
  .edit-comment,
  .delete-comment {
    padding: 3px 20px;
  }

  .confirm-comment {
    margin-left: 0;
    left: 0;
    bottom: 0px;
  }

  .edit-comment-input {
    margin-left: 0px;
    font-size: 18px;
    top: 36px;
    position: absolute;
    width: 90%;
    height: 144px;
    left: 10px;
  }

  #new-comment-status {
    left: 10px;
    bottom: 44px;
  }

  #post-user {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

/* -------- --------- --------- Login / Sign up / Dashboard*/
.login-container,
.signup-container {
  margin: 20px 32px;
}

.login-container h1,
.signup-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

#login-btn,
#submit-btn {
  margin-top: 0;
}

#add-post {
  margin-top: 5px;
}
#login-form,
#signup-form,
#addPost-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form input,
#signup-form input,
#addPost-form input {
  margin-bottom: 6px;
  height: 35px;
  width: 275px;
  padding: 3px 0;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#login-form input:nth-child(2),
#signup-form input:nth-child(3),
#addPost-form input:nth-child(2) {
  margin-bottom: 0;
}
#login-form input::placeholder,
#signup-form input::placeholder,
#addPost-form input::placeholder,
#addPost-form textarea::placeholder {
  opacity: 0.9;
  font-size: 15px;
}

#loginHr {
  margin-bottom: 30px;
  margin-top: 35px;
  width: 275px;
  margin-left: 32px;
  opacity: 0.5;
}

#addpost-status {
  width: 60%;
  font-family: inherit;
  font-weight: 400;
  margin-top: 10px;
  font-size: 14px;
}

#signup-status {
  width: 60%;
  font-family: inherit;
  font-weight: 400;
  margin: 8px 0;
  font-size: 14px;
}

#signin-status {
  width: 60%;
  font-family: inherit;
  font-weight: 400;
  margin: 8px 0;
  font-size: 14px;
}
/* Dashboard */
#no-posts {
  margin-top: 12px;
  margin-left: 12px;
}
.addPost-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
}
#your-posts {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 32px;
}
.addPost-container {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 32px;
}

#addPost-form textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
  width: 70%;
  height: 100px;
  font-size: 15px;
  border-radius: 5px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

#addPost-form input {
  width: 70%;
  border-radius: 5px;
}

#addPost-form textarea,
#addPost-form input {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#dashboardHr {
  width: 67.4%;
  margin-left: 32px;
}
#dashboard-posts #single-post {
  position: relative;
}

#dashboard-posts #single-post:nth-child(1) {
  margin-top: 10px;
}

#post-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

#post-controls button:nth-child(1) {
  margin-right: 10px;
}

#post-controls button:nth-child(2) {
  margin-right: 10px;
}

#edit-post-status {
  display: none;
  position: absolute;
  color: red;
  font-size: 16px;
  left: 10px;
  bottom: 25px;
}
.edit-title-input,
.edit-body-input {
  font-family: inherit;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  margin-left: 8px;
  width: 100%;
  border-radius: 5px;
}

.edit-title-input {
  font-size: 18px;
  background-color: var(--main-color);
}

.edit-body-input {
  resize: none;
  width: 98%;
  height: 120px;
  margin-top: 10px;
}

.confirm-post {
  display: none;
}

@media (max-width: 1000px) {
  #post-body {
    height: 190px;
  }

  .edit-body-input {
    resize: none;
    width: 97%;
    height: 180px;
    margin-top: 9px;
  }
}

@media (max-width: 670px) {
  #edit-post-status {
    font-size: 15px;
    left: 18px;
    bottom: 59px;
    width: 230px;
  }

  .edit-body-input {
    font-size: 18px;
    resize: none;
    width: 94%;
    height: 200px;
    margin-top: 10px;
  }

  #addPost-form textarea,
  #addPost-form input {
    width: 85%;
  }
  #dashboard-posts #single-post {
    width: 95%;
  }
  #addpost-status {
    width: 80%;
  }

  #dashboardHr {
    width: 80%;
  }

  .view-comments,
  .edit-post-id,
  .delete-post-id {
    width: 120px;
    font-size: 13px;
    padding: 10px 10px;
  }

  #post-controls {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
  #post-controls button:nth-child(3) {
    margin-right: 10px;
  }

  #post-controls button:nth-child(2) {
    margin-left: 5px;
    margin-right: 10px;
  }

  #post-controls button:nth-child(1) {
    margin-right: 5px;
    margin-left: 10px;
  }
}
