<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
    crossorigin=""/>

    {{!-- <style>
        #map {position: absolute; top: 0; bottom: 0; left: 0; right: 0;}
    </style> --}}
    <style>
      #map { height: 350px; } 
    </style>
</head>
<body>      
      
      <div class="hero is-fullheight-with-navbar has-text-centered">
        <div class="is-flex-direction-row is-justify-content-space-evenly p-5">
        <button class="button mr-5" id="austin">Austin</button>
        <button class="button mx-5" id="houston">Houston</button>
        <button class="button ml-5" id="dallas">Dallas</button>
        </div>
        <div id="map" class="container is-fluid">
        </div>

        {{> newMarker}}
      </div>

<script
  src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js'
  integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg='
  crossorigin=''>
</script>
<script src='./js/map.js'></script>

    <div id="map"></div>
    <script>
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
    </script>
</body>
</html>