<footer class="has-text-centered m-2">
    <p>© 2023 Made with <span class="has-text-danger">❤</span> by:
      <ul>
      <li><a href="https://github.com/DominiqueGarrett" target="_blank">Dominique Garrett</a></li>
      <li><a href="https://github.com/Amandagl1" target="_blank">Amanda Lee</a></li>
      <li><a href="https://github.com/bperez011" target="_blank">Bictor Perez Okomura</a></li>
      </ul>
  </footer>